<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Athletes</h1>
      <ul>
        <% @athletes.each do |a| %>
          <li><%= a.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-1">Hello</div>
    <div class="col-md-1">Hello</div>
    <div class="col-md-1">Hello</div>
    <div class="col-md-1">Hello</div>
    <div class="col-md-1">Hello</div>
    <div class="col-md-1">Hello</div>
    <div class="col-md-1">Hello</div>
    <div class="col-md-1">Hello</div>
    <div class="col-md-1">Hello</div>
    <div class="col-md-1">Hello</div>
    <div class="col-md-1">Hello</div>
    <div class="col-md-1">Hello</div>
  </div>
</div>