@import "variables";

#top {
  height:50px;
  padding:15px;
  background-color:$white;

}

#main {
  background-color:$blue;
  min-height:350px;
  color:$white;

  h1 {
    color:$white;
    font-weight:100;
  }
  img {

  }
  p {
    color:$white * .85;
  }
}

#gpa {
  font-size:36px;
}

#athlete div {
  padding:5px;
}