@import "variables";

#top {
  height:50px;
  padding:15px;
  background-color:$white;

}

#main {
  background-color:$blue;
  min-height:350px;
  color:$white;
  box-shadow:inset 0px 0px 15px rgba(0,0,0, .5);
  border-bottom:8px solid lighten($blue, 60%);
  border-top:8px solid lighten($blue, 60%);

  h1 {
    color:$white;
    font-weight:100;
    font-size:44px;
  }
  h4 {
    font-weight:500;
    margin-top:-10px;
  }
  img {
    border:12px solid $white;
    @include rotate(-5);
    margin-left:10px;
    box-shadow:1px 1px 16px rgba(0,0,0, .4);
  }
  p {
    color:$white * .85;
    margin-top:1em;
  }
}

#gpa {
  h3 {
    font-weight:200;
    font-size:14px;
    padding-bottom:10px;
    color:rgba(255,255,255,.8);
    border-bottom:1px dotted rgba(255,255,255,.3);
    //text-transform:uppercase;
    letter-spacing: 1px;
  }
  font-size:36px;
  dt {
    font-size:14px;
    font-weight:200;
    color:rgba(255,255,255,.6);
  }
}

#athlete {
  background-color:$white;
  box-shadow:1px 1px 1px rgba(0,0,0,.1);
  margin-top:20px;
  padding:5px;
  border-radius:5px;

}