@import "variables";

#header {
  padding:10px;
  min-height:60px;
  button {
    line-height:30px;
  }
}

#top {
  height:50px;
  padding:15px;
  background-color:$white;

}

#main {
  background-color:$blue;
  min-height:350px;
  color:$white;
  box-shadow:inset 0px 0px 15px rgba(0,0,0, .5);
  border-bottom:1px solid rgba(255,255,255,.1);
  border-top:8px solid lighten($blue, 60%);

  h1 {
    color:$white;
    font-weight:100;
    font-size:52px;
  }
  h4 {
    font-weight:500;
    margin-top:-10px;
  }
  img {
    border:12px solid $white;
    @include rotate(-5);
    margin-left:10px;
    box-shadow:1px 1px 16px rgba(0,0,0, .4);
  }
  p {
    color:$white * .85;
    margin-top:1em;
  }
}

#gpa {
  h3 {
    font-weight:200;
    font-size:14px;
    padding-bottom:10px;
    color:rgba(255,255,255,.8);
    border-bottom:1px dotted rgba(255,255,255,.3);
    //text-transform:uppercase;
    letter-spacing: 1px;
  }
  font-size:36px;
  dt {
    font-size:14px;
    font-weight:200;
    color:rgba(255,255,255,.6);
  }
}

#lower {
padding:20px 0 40px 0;
background: #232628; /* Old browsers */
background: -moz-linear-gradient(top, #232628 0%, #20242b 22%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232628), color-stop(22%,#20242b), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #232628 0%,#20242b 22%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #232628 0%,#20242b 22%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #232628 0%,#20242b 22%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom, #232628 0%,#20242b 22%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232628', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#athlete {
  // background-color:$white;
  // box-shadow:1px 1px 1px rgba(0,0,0,.1);
  margin-top:0px;
  padding:5px;
  border-radius:5px;
  min-height:300px;
  color:darken($white, 20%);
  font-size:20px;
  font-weight:200;
  h3 {
    font-weight:100;
    color:lighten(green, 20%);
  }
  table tr td {
    border-top:1px solid $white * .3;
  }
  #records {
    font-size:14px;
    h3 {
      color:darken(yellow, 10%);
    }
  }

}

#video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%; /* ADJUST THIS in media queries? */


  }
}

#footer {
  height:100px;
  background-color:rgba(0,0,0,.8);
}